#this a comment line. experiment is the flag for the overarching directory's name where all runs are put.
#the next is the header for default values that are used by each run if not overwritten.
%experiment:test epochs:2 init:../../main/model/imagenet.h5
logdir:run1 gpus:2 
#this too
logdir:run2 epochs:1


